<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link crossorigin="" href="https://fonts.gstatic.com/" rel="preconnect" />
    <link as="style"
        href="https://fonts.googleapis.com/css2?display=swap&family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
        onload="this.rel='stylesheet'" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
    <title>Stitch Design</title>
    <link href="data:image/x-icon;base64," rel="icon" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <style>
        body {
            min-height: max(884px, 100dvh);
        }
    </style>
</head>

<body class="bg-[#F9F8FC]">
    <div class="relative flex size-full min-h-screen flex-col justify-between group/design-root overflow-x-hidden"
        style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'>
        <div class="flex-grow">
            <header class="sticky top-0 z-10 bg-[#F9F8FC]/80 backdrop-blur-sm">
                <div class="flex items-center p-5 pb-4">
                    <a href="/myapp/home"
                    class="text-[#100E1B] hover:text-[#5E42EA] flex size-12 shrink-0 items-center justify-center rounded-full hover:bg-slate-200 transition-colors duration-150">
                        <span class="material-icons-outlined text-2xl">arrow_back_ios_new</span>
                    </a>
                    <h2 class="text-[#100E1B] text-2xl font-bold leading-tight tracking-[-0.015em] flex-1 text-center">
                        Travel
                    </h2>
                    <button class="flex items-center justify-center rounded-full h-12 w-12 hover:bg-slate-200 text-[#100e1b]">
                        <span class="material-icons-outlined text-2xl">add</span>
                    </button>
                </div>
            </header>
            <main class="bg-[#F9F8FC] px-5 pb-28 space-y-5">
                <div
                    class="flex items-center gap-5 bg-white p-4 rounded-xl shadow-sm hover:shadow-md transition-shadow duration-200">
                    <div class="h-24 w-24 rounded-lg bg-center bg-no-repeat bg-cover flex-shrink-0"
                        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAwgRgbgTXYVZGo1QyGNuw8F7jq55TbCWaQ1zXc5wvCo_L7M0A-8nHG5JYfkzFK4rMetaSJeeCaqbJE-fvr-mWIKhnLVAo5ENa1aYJyWsEd4zFRwmwGSfPJeNqqtpLsunXxEjJlMaisfdxVyjen8ynqvlGwp5nF7UGGEZxNoJHNuMS570aJTrECFOCteMoVAOFZoT131WakbQWsDa4bsna2VUFecfjWILjC-s4xPYTNyNnxdNcKDqsdMO3KBbP9wZ4FVwoPEh13JxNU");'>
                    </div>
                    <div class="flex-1">
                        <p class="text-[#100E1B] text-lg font-semibold leading-tight">Romantic Getaway</p>
                        <p class="text-[#5A4E97] text-base font-normal leading-normal mt-1">May 12 - May 19</p>
                        <p class="text-slate-500 text-sm font-normal leading-normal mt-1">Paris, France</p>
                    </div>
                    <button class="text-slate-400 hover:text-[#5E42EA] transition-colors duration-150">
                        <span class="material-icons-outlined text-2xl">more_vert</span>
                    </button>
                </div>
                <div
                    class="flex items-center gap-5 bg-white p-4 rounded-xl shadow-sm hover:shadow-md transition-shadow duration-200">
                    <div class="h-24 w-24 rounded-lg bg-center bg-no-repeat bg-cover flex-shrink-0"
                        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDz-bEyYX91UZ5G6hAMDuh9q2My20iVcISW6H6ONX3D3e4BmNWCH8vqtkj2ItY2_e4_CIQtWJpbSTbYqFvcTy2tvd60q5vdEXJphCLDLIp86kBcOPKsJCd_zrz5aiAZRAY3iIzbKu5TL3JFdutqyH386B511Vpi5OuLtxeiZ-zIgu3a48zC0d59tFjFfglUc1mLS06cnGH-fSoKdPBiqn04GblJlrz7GXDRqNKlA7ZxyL8UxVEqO81tk7L9UoUON017tHVEz9HCfuCN");'>
                    </div>
                    <div class="flex-1">
                        <p class="text-[#100E1B] text-lg font-semibold leading-tight">Cultural Exploration</p>
                        <p class="text-[#5A4E97] text-base font-normal leading-normal mt-1">June 20 - June 25</p>
                        <p class="text-slate-500 text-sm font-normal leading-normal mt-1">Tokyo, Japan</p>
                    </div>
                    <button class="text-slate-400 hover:text-[#5E42EA] transition-colors duration-150">
                        <span class="material-icons-outlined text-2xl">more_vert</span>
                    </button>
                </div>
                <div
                    class="flex items-center gap-5 bg-white p-4 rounded-xl shadow-sm hover:shadow-md transition-shadow duration-200">
                    <div class="h-24 w-24 rounded-lg bg-center bg-no-repeat bg-cover flex-shrink-0"
                        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA1r9li6t34O1XhRNUIhnmlCvUjpx73YC_Wt3vsyFd71gPUdQX_JzQ3xy_wokbQjbqJ9s33OkvrCxdKOmEVT1rRcMO7CHhbnn2-gXqquWoMqK-6XOxHdD5BwteM86zT8zQ5G3R95mZ5S-ocbygqoIbv69yT9KNzSns3sto8swpeacuHs-1pECkBM_VDMuTtm4II4EszRXB4bRY-E4vyjUmf2P8vufH199fKiCX85V3o-acjNlV1sujEajJ5sUnNz5LkScjTaC5fVlqr");'>
                    </div>
                    <div class="flex-1">
                        <p class="text-[#100E1B] text-lg font-semibold leading-tight">Relaxing Beach Vacation</p>
                        <p class="text-[#5A4E97] text-base font-normal leading-normal mt-1">July 5 - July 12</p>
                        <p class="text-slate-500 text-sm font-normal leading-normal mt-1">Bali, Indonesia</p>
                    </div>
                    <button class="text-slate-400 hover:text-[#5E42EA] transition-colors duration-150">
                        <span class="material-icons-outlined text-2xl">more_vert</span>
                    </button>
                </div>
                <div
                    class="flex items-center gap-5 bg-white p-4 rounded-xl shadow-sm hover:shadow-md transition-shadow duration-200">
                    <div class="h-24 w-24 rounded-lg bg-center bg-no-repeat bg-cover flex-shrink-0"
                        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCp7NgSawWhkdJgmk2yV3TypVqL37AkX2E7Gu2bVQzSH1tNeDHfQSO0WoZ_UsEskDW5c8EyPKXcF4gv2hIQR38QNJxGt97SZKZcD_dnu2LNCCEn4M67raT2SNGe2_dR_pob10cZhdRPDzI96hOeO5WJPmea6j1zOG4VMpWo8OWgP2lsL-LY3FcptEjCFinX0fzX3TX49TAYnblYoRRSRQ81lwp6yu7Bc6HjdWnmxzekVOrnlhTPVrjYHAZT5eFJdPVT-Zz0Eo8b8G52");'>
                    </div>
                    <div class="flex-1">
                        <p class="text-[#100E1B] text-lg font-semibold leading-tight">Historical Journey</p>
                        <p class="text-[#5A4E97] text-base font-normal leading-normal mt-1">August 1 - August 8</p>
                        <p class="text-slate-500 text-sm font-normal leading-normal mt-1">Rome, Italy</p>
                    </div>
                    <button class="text-slate-400 hover:text-[#5E42EA] transition-colors duration-150">
                        <span class="material-icons-outlined text-2xl">more_vert</span>
                    </button>
                </div>
                <div
                    class="flex items-center gap-5 bg-white p-4 rounded-xl shadow-sm hover:shadow-md transition-shadow duration-200">
                    <div class="h-24 w-24 rounded-lg bg-center bg-no-repeat bg-cover flex-shrink-0"
                        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA_og2Ad3xMLmcUTdROSDQ-C9JARPMaY_fkC4iXOMZS0EFLft_soA2D-qXzH1NPgr6HBCHeSFDxl400jZtvSla8wVsijedpNAIJW25Eel4vJCtfl1NR5mO8E7rDEFjUbxbxWJg771xZBliw46OnyBqKoXNaK12XvNLH_BRgtNJKuxvzha3PE829_FHlQeRlijCr0lD37sznj4LuMbcdBAnU6kaS1HKG7pkU360gDHcGsbiejg-6T9bkm_SIHUhlxAJ3Dyllx52nfNf2");'>
                    </div>
                    <div class="flex-1">
                        <p class="text-[#100E1B] text-lg font-semibold leading-tight">City Adventure</p>
                        <p class="text-[#5A4E97] text-base font-normal leading-normal mt-1">September 15 - September 22
                        </p>
                        <p class="text-slate-500 text-sm font-normal leading-normal mt-1">New York, USA</p>
                    </div>
                    <button class="text-slate-400 hover:text-[#5E42EA] transition-colors duration-150">
                        <span class="material-icons-outlined text-2xl">more_vert</span>
                    </button>
                </div>
            </main>
        </div>

        <div class="h-6 bg-[#F9F8FC]"></div>
    </div>

    <!-- Footer -->
    <footer class="sticky bottom-0 border-t border-[#e9e7f3] bg-[#f9f8fc]/95 backdrop-blur-sm pb-safe">
      <nav class="flex justify-around items-center px-4 pt-3 pb-2">
        <a class="flex flex-1 flex-col items-center justify-center gap-1 text-[#6247ea]" href="/myapp/home">
          <span class="material-icons-outlined text-2xl">home</span>
          <p class="text-base font-medium leading-normal tracking-tight">Home</p>
        </a>
        <a class="flex flex-1 flex-col items-center justify-center gap-1 text-[#5a4e97] hover:text-[#6247ea]"
          href="#">
          <span class="material-icons-outlined text-2xl">search</span>
          <p class="text-base font-medium leading-normal tracking-tight">Explore</p>
        </a>
        <a class="flex flex-1 flex-col items-center justify-center gap-1 text-[#5a4e97] hover:text-[#6247ea]"
          href="#">
          <span class="material-icons-outlined text-2xl">person_outline</span>
          <p class="text-base font-medium leading-normal tracking-tight">Profile</p>
        </a>
      </nav>
    </footer>

</body>

</html>